<div class="new-container">
    <img id="user-image" src="/Peak-Bagger.jpeg"></img>
    <h1 class="welcome-title">Bag a New Peak</h1>
    <h3 id="user-name">USER NAME</h3>
    <a class="button" href="/user" type="button">Return to Profile</a>
    <!-- enctype="multipart/form-data" -->
    <div class="newForm-container">
        <form class="form-new" action="/user/" method="POST">
        
            <div class="form-peak">
                    <label class="label" for="peak">Peak:</label>
                    <select class="field" name = 'peak'<% fourteener.map(peak => { %>>
                        <option value="<%- peak.Peak %>">
                            <%= peak.Peak %>
                        <%}) %></option>
                    </select>
            </div>
        
            <div class="form-bagged">
                <label class="label" for="bagged">Bagged?:</label>
                <select class="field" name = 'bagged'>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
        
            <div>
                <label class="label" for="hike-date">Date:</label>
                <input class="field" type="date" id="hike-date" name="date">
            </div>
        
            <div>
                <label class="label" for="start">Start Time:</label>
                <input class="field" type="time" name="start" id="start">
            </div>

            <div>
                <label class="label" for="summited">Summited Time:</label>
                <input class="field" type="time" name="summited" id="summited" value="N/A">
            </div>

            <div>
                <label class="label" for="end">End Time:</label>
                <input class="field" type="time" name="end" id="end">
            </div>

            <div>
                <label class="label" for="drink">Number of Drinks:</label>
                <input class="field" type="number" name="drink" id="drink">
            </div>
            
            <div>
                <label class="label" for="image">Select images:</label>
                <input class="field" type="file" name="image" accept="image/*" />
            </div>
              
            <div>
                <label class="label hike" for="notes">Hike Notes:</label>
                <textarea class="area" id="notes" name="notes" rows="4" cols="45">
        Baggin Peaks and Havin Drinks
                </textarea>
            </div>
        

        <input class="button" type="submit" value="Save Changes" href="/user"></input>
        
        </form>
    </div>
</div>