<div class="welcome-container">
    <h1 class="welcome-title">Peaker Baggins</h1>
    <div class="button-container">
        <button type="button" onclick="window.location.href='/user'" class="button welcome-button" ><img src="/Images/Peak Bagger.jpeg"></button> 
    </div> 
</div> 
 