body {
    /* background-color: #46443C; */
    background-color: #A7C4C2;
}
h1 {
    font-family: 'Rock Salt', cursive;
    color: #0F0736;
}
h2, h3, h4 {
    font-size: xx-large;
    font-family: 'Bebas Neue', cursive;
    color: #0F0736;
        
   
}
h2 {
    text-align: center ;
    margin-bottom: 0px;
}
table {
    justify-content: center;
    width:45%;
    border: solid 2px;
    border-color: #46443C;
}
th {
    width:18%;
    background-color: #0F0736;
    border-style: ridge;
    border-color: #46443C;
    color: #FFF9EB;
    font-family: 'Rock Salt', cursive;
    font-size: 12px;
    height: 30%;
}
td {
    color: #0F0736;
    width: 15%;
    font-size: 14px;
    text-align: center;
    border-style:groove;
    border-color: #46443C;
    background-color: #FFF9EB;
    font-family: 'Bebas Neue', cursive;
}
td:hover {
    background-color: #D64045;
}
.welcome-container {
    height: 300px;
    position: relative;
}
.welcome-title {
    position:relative;
    text-align: center;
    text-decoration:underline #46443C;
    margin-bottom: 0px;
}
.tag-line {
    font-family: 'Rock Salt', cursive;
    font-size:small;
    margin: 0px;
    position:relative;
    text-align: center;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    position: relative;
}
.button-container img{
    width: auto;
    max-height: 200px;
    margin: 0;
    position:relative;  
    border: solid #46443C;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.button-container .welcome-button {
    position:absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #0F0736;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.button-container .welcome-button:hover {
    background-color: #D64045;
    
}
.button {
        font-family: 'Bebas Neue', cursive;
        font-size: 15px;
        text-decoration: none;
        color: #FFF9EB;
        background-color: #0F0736;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #0F0736;
        border-right: 1px solid #46443C;
        border-bottom: 1px solid #46443C;
        border-left: 1px solid #0F0736;      
}
.button:hover {
    background-color: #D64045;
}
.new-container, .edit-container, .show-container {
    height: 300px;
    position: relative;
}
.collapsible {
    cursor: pointer;
}
#bagged-table, #attempted-table, #unattempted-table {
    margin-left: auto;
    margin-right: auto;
}
.form-new, .form-edit, #show-table{
    background-image: url('Peak-Bagger.jpeg');
    background-position: center;
    background-size: contain;
    border: solid #46443C;
}
.newForm-container, .editForm-container {
    position:absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}
.label {
   display: inline-block;
   width: 160px; 
   margin: 0;
   font-family: 'Bebas Neue', cursive;
   font-size:x-large;
}
.field {
    color: #FFF9EB;
    width: 215px;
    height: 22px;
    padding: 0px;
    border: 1px;
    background-color: #0F0736;
    opacity:.8;
    
}
.hike {
    display: flex;
}
.area {
    color: #FFF9EB;
    background-color: #0F0736;
    opacity:.8;
}
.showData-container {
    position:absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.edit {
    position: relative;
    margin-top: 150px;
    margin-bottom: 0px;
}
#show-table {
    position: relative;
    width: 100%;
    margin-top: 0px;
}
.show-head {
    width: 45px;
}
.show-data {
    width: 500px;
}
#user-name {
    position:relative;
    margin-bottom:  0px;
    margin-top: 45px;
}
#bag-peak {
    position: absolute;
    margin-top: 0px;
}
#bagged-header {
    margin-top: 0px;
}
#user-image {
    position: fixed;
    margin-left: 1px;
    margin-bottom: 3px;
    max-block-size: 110px;
    border: solid 2px;
    border-color: #46443C;
}